{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "jest": true
  },
  "plugins": [
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",

    "plugin:import/recommended",
    // Necessary to discover TypeScript imports
    "plugin:import/typescript",
    
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:react-hooks/recommended"
  ],
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "typescript": {}
    }
  },
  "rules": {
    "no-console": [
      "warn",
      {
        "allow": ["info", "error"]
      }
    ],
    // ### Conficting rules ###
    // conflict with built-in typescript interfaces
    "no-undef": "off",
    // conflict with @typescript-eslint/no-unused-vars
    "no-unused-vars": "off",
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": "error",

    "no-duplicate-imports": "error",
    "import/no-duplicates": "off",

    "prettier/prettier": "error"
  }
}
